{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div style="background-color: #1fb7be" class=" text-dark d-flex w-100 align-content-end justify-content-end">
        <div class="p-3">
            <h2>Price sum: {{ priceSum }} zł</h2>
        </div>
        <div class="p-3">
            <a href="#" class="btn btn-danger">Buy</a>
        </div>
    </div>
    <div class="row">
        {% for movie in movies %}
            <div class="col pt-5">
                <div class="card bg-light" style="width: 18rem;">
                    <img style="width: auto; height: 25rem;" class="card-img-top" src="{{ movie.getImgUrl }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.getTitle }}</h5>
                        <p style="height: 8rem" class="card-text overflow-auto">{{ movie.getDescription }}</p>
                        <a>{{ movie.getPrice }} zł</a>
                        <a href="{{ asset(path('app_cart_delete', {'movieId': movie.getId})) }}" class="btn btn-danger">Remove from cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
