{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        {% for movie in movies %}
            <div class="col pt-5">
                <div class="card bg-light" style="width: 18rem;">
                    <img style="width: auto; height: 25rem;" class="card-img-top" src="{{ movie.getImgUrl }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.getTitle }}</h5>
                        <p style="height: 8rem" class="card-text overflow-auto">{{ movie.getDescription }}</p>
                        <a>{{ movie.getPrice }} zł</a>
                        <a href="#" class="btn btn-success">Add to cart</a>
                        <a href="#" class="btn btn-danger">Buy</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ asset(path('app_update_movies', {'movieId': movie.getId})) }}" class="btn btn-warning">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
