{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}
    <div class="row pt-5 text-light">
        <div class="card bg-light text-black" style="width: 18rem;">
            <img style="width: auto; height: 25rem;" class="card-img-top" src="{{ movie.getImgUrl }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ movie.getTitle }}</h5>
                <p style="height: 8rem" class="card-text overflow-auto">{{ movie.getDescription }}</p>
                <a>{{ movie.getPrice }} zł</a>
                <a href="#" class="btn btn-success">Add to cart</a>
                <a href="#" class="btn btn-danger">Buy</a>
            </div>
        </div>
        <div class="col">
            {{ form_start(moviesForm) }}
            {{ form_row(moviesForm.title) }}
            {{ form_row(moviesForm.description) }}
            {{ form_row(moviesForm.imgUrl) }}
            {{ form_row(moviesForm.price) }}
            <button type="submit" class="btn btn-danger btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Update movie</button>
            {{ form_end(moviesForm) }}
        </div>
    </div>
{% endblock %}
