<!DOCTYPE html>
<html lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('/img/favicon.png') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/search_bar/search_bar.js') }}"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-dark bg-gradient">
<nav
    class="sticky-top shadow navbar navbar-expand-lg navbar-light bg-light bg-info m-0 p-0"
    {{ is_granted('ROLE_PREVIOUS_ADMIN') ? 'style="background-color:red !important"' }}
>
    <div style="background-color: #7900FF" class="container-fluid p-lg-0 bg-dark bg-gradient">
        <div class="col-2 d-flex navbar-collapse justify-content-center">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('/img/logo.png') }}" alt="logo" style="width: auto; height: auto; max-width: 100%; max-height: 100%">
            </a>
        </div>
        <div class="collapse navbar-collapse d-flex  col-10 p-4" id="navbar-collapsable">
                <div class="d-flex col justify-content-start">
                    <button class="btn bg-white border-0 rounded" type="submit"><i class="fa fa-search"></i></button>
                    <input class="border-0 rounded" id="searchBar" name="searchBar" type="text" placeholder="Search...">
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="d-flex col justify-content-end">
                    <button class="btn pt-2">
                        <img src="{{ asset('/img/cart.png') }}" alt="cart" style="width: 30px; height: 30px">
                        <a href="{{ asset(path('app_cart')) }}" class="text-white" style="text-decoration: none">Cart</a>
                    </button>

                    <div class="text-white pt-3" style="font-weight: bold;">{{ app.user.username }}</div>
                    <div class="dropdown">
                        <button
                                class="dropdown-toggle btn"
                                type="button"
                                id="user-dropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <img class="rounded"
                                 src="{{ app.user.getAvatarUri }}"
                                 alt="{{ app.user.name }} Avatar">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                            <li>
                                <div class="dropdown-item">
                                    {{ app.user.name }}
                                    {{ app.user.lastname }}
                                </div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                            </li>
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_home', {
                                        '_switch_user': '_exit'
                                    }) }}">Exit Impersonation</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
            </div>
                {% else %}
                {% endif %}
        </div>
    </div>

</nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-mid px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <a href="/" class="d-flex align-items-center p-4 pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <li class="nav-item">
                        <a href="{{ asset(path('app_get_movies')) }}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span style="color: #24b8bf" class="ms-1 d-none d-sm-inline">Movies</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('app_collection') }}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span style="color: #24b8bf" class="ms-1 d-none d-sm-inline">My collection</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="/" class="d-flex align-items-center p-3 text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">Admin section</span>
                        </a>
                        <li>
                            <a href="{{ asset(path('app_add_movie')) }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span style="color: #24b8bf" class="ms-1 d-none d-sm-inline">Add movie</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <hr>

            </div>
        </div>
        <div class="container-fluid w-75">
            {% block body %}{% endblock %}
        </div>
</div>
</body>
</html>